.divTable {
            border-top: 1px solid black;
        }

        h3 {
            margin-top: 1%;
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 15px;
            border: none;
            outline: none;
            color: white;
            cursor: pointer;
            padding: 5px;
            border-radius: 4px;
            font-size: 40px;
        }

        #myBtn:hover {
            color: rgb(197, 245, 22);
        }