.container-full {
	max-width: 180rem;
	width: auto;
	margin: 0 auto;
	padding: 0 30px;
}
.top-bar {
	background: rgba(0,0,0,0.95);
	height: 50px;
}
.top-bar .login-info {
	float: right;
}
.top-bar .login-info ul li a {
	margin: 0px;
    float: right;
}
.top-bar p {
	margin: 0px;
	margin-top: 12px;
	float: left;
	color: #fff;
	font-size: 12px;
}
.top-bar p i {
	margin-right: 10px;
}
.top-bar p.call {
	margin-left: 50px;
}
.top-bar .login-info li {
	display: inline-block;
	float: left;
	padding: 0 15px;
}

.top-bar .login-info a {
	color: #fff;
	font-size: 14px;
    line-height: 50px;
	display: inline-block;
}
.top-bar .user-basket .dropdown-menu {
	margin-top: 0px;
	padding: 20px;
	border: none;
	right: 0px;
	top: 100% !important;
	left: auto !important;
	border-radius: 0px 0px 4px 4px;
	min-width: 350px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transform: translate3d(0px, 0px, 0px) !important;
}
.top-bar .user-basket i {
	font-size: 16px;
	margin-top: 3px;
}
.top-bar .user-basket .dropdown-menu .media-left {
	display: inline-table;
	max-width: 100px;
	float: left;
}
.top-bar .user-basket .dropdown-menu .media-body {
	padding-top: 10px;
	position: relative;
	margin: 0px;
	margin-left: 10px;
	float: left;
}
.top-bar .user-basket .dropdown-menu li {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	display: table;
	position: relative;
	width: 100%;
}
.top-bar .user-basket .dropdown-menu li a {
	line-height: 40px;
}
.top-bar .user-basket h5 {
	font-weight: 500;
	font-size: 16px;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px 0;
}
.top-bar .user-basket h5 small {
	font-weight: 500;
	float: right;
	font-size: 16px;
}
.top-bar .user-basket .btn {
	padding: 0px 0px;
	width: 100%;
	letter-spacing: 0px;
	color: #fff;
	border: none;
}
.top-bar .user-basket .btn:hover {
	background: #ffe115;
	color: #2d3a4b;
}
.top-bar .user-basket .media-heading {
	margin-top: 0px;
	font-weight: normal;
}
.top-bar .user-basket span {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	font-size: 12px;
}
.top-bar .user-basket .cart-img a {
	display: inline-block;
	width: 100%;
	padding: 0px;
}
.top-bar .user-basket .cart-img a img {
	max-width: 100%;
}
.top-bar .user-basket .cart-img {
	width: 90px;
	margin-right: 10px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	padding: 5px;
	display: inline-block;
}