.user-profile {
    position: relative;
    background-size: cover;
    .setpos {
        top: -47px;
        right: -3px;
    }
    .profile-img {
        width: 70px;
        margin: 0 auto;
        padding: 10px 0 5px 0;
        border-radius: 100%;
        img {
            width: 100%;
            padding: 10px;
            border: 1px solid $border;
            border-radius: 100%;
        }
    }
    .profile-text {
        padding: 5px 0px;
        position: relative;
        text-align: center;
        >a {
            color: $muted;
            padding: 0 5px;
            &:hover {
                color: $themecolor;
            }
            &:after {
                display: none;
            }
        }
    }
    .dropdown-menu {
        left: 0px;
        right: 0px;
        top: 62px!important;
        width: 180px;
        margin: 0 auto;
    }
}