<head>
    <meta charset="utf8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--  dropzone css -->
    <link rel="stylesheet" href="../assets/plugins/dropzone/min/dropzone.min.css">
    <link href="css/dz.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form action="f.php" method="POST">
        <div class="author_form">
            <div class="entryZ input-group mb-3">
            <!-- <label id="label_author_all" class="control-label">คนที่ 1</label> -->
                <select id="academic_rank" name="academic_rank[]" class="form-control col-md-2">
                    <option value="" selected>---- ตำแหน่งทางวิชาการ ----</option>
                    <option value="pro">ศ.</option>
                    <option value="asso">ร.ศ.</option>
                    <option value="assis">ผ.ศ.</option>
                    <option value="lec">อาจารย์</option>
                </select>
                <select name="name_title[]" class="form-control col-md-2">
                    <option value="" selected>------- คำนำหน้าชื่อ -------</option>
                    <option value="mr">นาย</option>
                    <option value="ms">นางสาว</option>
                    <option value="dr">ดร.</option>
                </select>
                <select id="academic_rank" name="academic_rank[]" class="form-control col-md-2">
                    <option value="" selected>---- ตำแหน่งทางวิชาการ ----</option>
                    <option value="pro">ศ.</option>
                    <option value="asso">ร.ศ.</option>
                    <option value="assis">ผ.ศ.</option>
                    <option value="lec">อาจารย์</option>
                </select>
                <select name="name_title[]" class="form-control col-md-2">
                    <option value="" selected>------- คำนำหน้าชื่อ -------</option>
                    <option value="mr">นาย</option>
                    <option value="ms">นางสาว</option>
                    <option value="dr">ดร.</option>
                </select>
                <select id="academic_rank" name="academic_rank[]" class="form-control col-md-2">
                    <option value="" selected>---- ตำแหน่งทางวิชาการ ----</option>
                    <option value="pro">ศ.</option>
                    <option value="asso">ร.ศ.</option>
                    <option value="assis">ผ.ศ.</option>
                    <option value="lec">อาจารย์</option>
                </select>
                <select name="name_title[]" class="form-control col-md-2">
                    <option value="" selected>------- คำนำหน้าชื่อ -------</option>
                    <option value="mr">นาย</option>
                    <option value="ms">นางสาว</option>
                    <option value="dr">ดร.</option>
                </select>
            </div>
        </div>
    <button type="submit">ok</button>
</form>
</body>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="js/dropzone_custom.js"></script>
<!-- Dropzone -->
<script src="../assets/plugins/dropzone/min/dropzone.min.js"></script>