<head>
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
  <title><?php include("inc/title.php"); ?></title>
  <!-- Bootstrap Core CSS -->
  <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- page CSS -->
  <link href="../assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
  <!--alerts CSS -->
  <link href="../assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  <link href="css/style.css" rel="stylesheet">
  <!-- You can change the theme colors from here -->
  <link href="css/colors/blue.css" id="theme" rel="stylesheet">
</head>
</head>

<body>
  <form id="form_research" name="form_research" method="post" action="f.php">
    <!--/row-->
    <div class="row p-t-20">
      <div class="col-md-12">
        <div id="form_start" class="form-group">
          <label id="label_start" class="control-label">Start</label>
          <input type="text" id="start" name="start" data-date-language="th-th" class="form-control dateP">
        </div>
        <div id="form_end" class="form-group">
          <label id="label_end" class="control-label">End</label>
          <input type="text" id="end" name="end" data-date-language="th-th" class="form-control dateP">
        </div>
      </div>
    </div>
    <button type="button" onclick="checkDate()" class="btn btn-success">OK</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </form>

</body>
<script src="../assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="../assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- JS Datepicker TH -->
<script src="js/bootstrap-datepicker/js/bootstrap-datepicker-thai.js"></script>
<script src="js/bootstrap-datepicker/locales/bootstrap-datepicker.th.js"></script>
<script src="js/research.js"></script>
<script>
  $('.dateP').datepicker({
    format: "dd/mm/yyyy",
    keyboardNavigation: false,
    forceParse: false,
    calendarWeeks: true,
    autoclose: true
  }).datepicker();

</script>
<script>
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear() + 543;

  today = dd + '/' + mm + '/' + yyyy;
  //alert(today)  // 05/06/2562

  function myStringToDate(str) {
    var arr = str.split("/"); // split string at slashes to make an array
    var yyyy = arr[2] - 0; // subtraction converts a string to a number
    var jsmm = arr[1] - 1; // subtract 1 because stupid JavaScript month numbering
    var dd = arr[0] - 0; // subtraction converts a string to a number 
    return new Date(yyyy, jsmm, dd); // this gets you your date
  }

  function checkDate() {
    var d1 = myStringToDate(document.getElementById("start").value);
    var d2 = myStringToDate(document.getElementById("end").value);
    var d3 = myStringToDate(today)
    /*if (d2.getTime() <= d1.getTime()) {
      alert("ระยะเวลาดำเนินการวิจัย ไม่สามารถมากกว่าวันที่เริ่มโครงร่างวิจัยได้")
      $("#end").focus();
    } else {
      alert("วันที่ถูกต้อง")
    }*/
    
    if (d3.getTime() < d2.getTime()) {
      alert("งานวิจัยของท่านเกินกำหนดระยะเวลา")
    } else {
      alert("สมบูรณ์")
    }
  }
</script>

</html>